@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    scrollbar-width: thin;
}
body{
    font-family: roboto, sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-right: 5px;
}
#background{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background: linear-gradient( 170deg, rgb(238, 181, 121), rgb(198, 84, 31));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#landing-page{
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-title{
    font-family: 'Nunito';
    font-size: 60px;
    font-weight: bold;
}
.arrow-down{
    margin-right: 15px;
    padding: 18px;
    border: solid black;
    border-width: 0 6px 6px 0;
    border-radius: 0px 0px 3px 0px;
    -webkit-border-radius: 0px 0px 3px 0px;
    -moz-border-radius: 0px 0px 3px 0px;
    -ms-border-radius: 0px 0px 3px 0px;
    -o-border-radius: 0px 0px 3px 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}