@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
*:any-link{
    color: #111;
    text-decoration: none;
}
body{
    font-family: roboto, sans-serif;
    font-size: 30px;
    margin: 0px;
    color: #111;
    user-select: none;
}
#background{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background: linear-gradient( 170deg, rgb(238, 181, 121), rgb(206, 90, 36));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-list{
    background-color: rgb(219, 117, 58);
    width: 50px;
    height: 50px;
    padding: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    animation: hide-list 0.1s cubic-bezier( 0, 0.2, 0.8, 1) 0s 1 forwards;
    -webkit-animation: hide-list 0.1s cubic-bezier( 0, 0.2, 0.8, 1) 0s 1 forwards;
    box-shadow: #5f3f2563 4px 4px 4px;
}
.nav-list img{
    width: 100%;
}
.list{
    background: linear-gradient( 150deg, rgb(226, 143, 70) 10%, rgb(203, 67, 43));
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -300px;
    box-shadow: #5f3f2563 4px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}
.nav-list:hover{
    animation: nav-list 0.5s cubic-bezier( 0, 0.2, 0.8, 1) 0s 1 forwards;
    -webkit-animation: nav-list 0.5s cubic-bezier( 0, 0.2, 0.8, 1) 0s 1 forwards;
}
@keyframes hide-list {
    0%{
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}
@keyframes nav-list {
    0%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    100%{
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
}
.list-title{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: #67472bd9 2px 2px 3px;
}
.list-item{
    width: 280px;
    height: 10vh;
    background: #fcb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(103%);
    animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
    text-shadow: #67472bd9 1px 1px 2px;
}
.list-item:hover{
    animation: hover-on 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-on 0.1s linear 0s 1 forwards;
}
.landing-page{
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    text-shadow: #351b0770 4px 4px 6px;
    user-select: none;
    transform: scale(103%);
    animation: hover-off 0.2s linear 0s 1 forwards;
    -webkit-animation: hover-off 0.2s linear 0s 1 forwards;
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
}
.main-title:hover{
    animation: hover-on 0.2s linear 0s 1 forwards;
    -webkit-animation: hover-on 0.2s linear 0s 1 forwards;
}
.down img{
    width: 85px;
    filter: drop-shadow( 4px 4px 6px #20100470) invert(0.08);
    -webkit-filter: drop-shadow( 4px 4px 6px #20100470) invert(0.08);
    transform: scale(103%);
    animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
}
.down:hover{
    animation: hover-on 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-on 0.1s linear 0s 1 forwards;
}
.gallery-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container{
    height: 80vh;
    width: 80vw;
    background-color: #ddc8;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    box-shadow: #b9641eaa 8px 8px 8px;
}
.gallery-title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #95633bd9 2px 2px 4px;
    user-select: none;
}
.gallery{
    height: calc(80vh - 50px);
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 5px;
    gap: 10px;
}
.gallery-item{
    height: 100%;
}
.gallery-item img{
    height: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.paragraph-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph-container{
    height: 75vh;
    width: 80vw;
    background-color: #ddc8;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    box-shadow: #b9641eaa 8px 8px 8px;
}
.paragraph-title{
    height: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-shadow: #95633bd9 2px 2px 4px;
    user-select: none;
}
.paragraph{
    user-select: text;
    text-shadow: #95633bd9 2px 2px 4px;
    font-size: 30px;
}
.four-celled-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-celled-container{
    height: 75vh;
    width: 80vw;
    background-color: #ddc8;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    box-shadow: #b9641eaa 8px 8px 8px;
}
.four-celled-title{
    height: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-shadow: #95633bd9 2px 2px 4px;
    user-select: none;
}
.four-celled{
    user-select: text;
    text-shadow: #95633bd9 2px 2px 4px;
    font-size: 35px;
    height: calc( 100% - 80px );
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}
.four-celled-cell{
    padding: 10px;
    background-color: rgba(229, 220, 201, 0.831);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #7e675486 3px 3px 6px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    transform: scale(103%);
    animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
    overflow: hidden;
}
.four-celled-cell:hover{
    animation: hover-on 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-on 0.1s linear 0s 1 forwards;
}
.four-celled-cell-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.four-celled-cell-image img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.four-celled-cell-title{
    font-size: 32px;
    display: flex;
    align-items: center;
}
.four-celled-cell-details{
    font-size: 25px;
    display: flex;
    grid-column: 1/3;
}
.six-celled-page{
    height: 100vh;
    width: 100%;
}
.six-celled-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.six-celled{
    background-color: #ddc8;
    backdrop-filter: blur(2px);
    width: 80vw;
    height: 75vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    box-shadow: #b9641eaa 8px 8px 8px;
}
.six-celled-title{
    height: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-shadow: #95633bd9 2px 2px 4px;
    user-select: none;
}
.six-celled-grid{
    width: 100%;
    height: calc( 100% - 80px );
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.six-celled-cell{
    overflow: hidden;
    background-color: rgba(229, 220, 201, 0.831);
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: #7e675486 3px 3px 4px;
    color: #111;
    text-decoration: none;
    cursor: pointer;
    transform: scale(103%);
    animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-off 0.1s linear 0s 1 forwards;
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
}
.six-celled-cell:hover{
    animation: hover-on 0.1s linear 0s 1 forwards;
    -webkit-animation: hover-on 0.1s linear 0s 1 forwards;
}
.six-celled-cell-image-holder{
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.six-celled-cell-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.six-celled-cell-title{
    height: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.long-title{
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.six-celled-cell-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 150px;
    background-color: #ddc8;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #351b0770 2px 2px 4px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: underline #111 2px;
}

@keyframes hover-off {
    0%{
        transform: scale(103%);
        -webkit-transform: scale(103%);
        -moz-transform: scale(103%);
        -ms-transform: scale(103%);
        -o-transform: scale(103%);
}
    100%{
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
    }
}
@keyframes hover-on {
    0%{
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
    }
    100%{
        transform: scale(103%);
        -webkit-transform: scale(103%);
        -moz-transform: scale(103%);
        -ms-transform: scale(103%);
        -o-transform: scale(103%);
    }
}

@media only screen and ( max-aspect-ratio: 1/1 ) {
    /* checking if in portrait mode*/
    .four-celled, #contacts{
        grid-template-columns: 1fr;
        grid-template-rows: repeat( 4, 1fr);
    }
    .six-celled-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .gallery{
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
div:focus {
    outline: none;
}







