*{
    --white-text: #DDD;
    --gray-text: #AAA;
    --accent-darker: #e23535;
    --accent: #ec5757;
    --background: #151515;
    --background-dark: #121212;

}
*::selection {
    background: var(--accent);
    color: #111;
}
*::-moz-selection {
    background: var(--accent);
    color: #111;
}
*::-webkit-selection {
    background: var(--accent);
    color: #000;
}
body{
    background-color: var(--background-dark);
    font-family: roboto;
    margin: 0;
    padding-top: calc(45px + 20px);
    color: var(--white-text);
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
}
#nav-bar{
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 45px;
    padding-top: 20px;
    top: 0px;
    left: 0px;
    background-color: var(--background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    font-size: 20px;
    border-bottom: #111 solid 1px;
}
#home-nav{
    margin-right: auto;
    border: none;
    padding-left: 20px;
    width: 30px;
}
.nav-item{
    width: 120px;
    color: var(--white-text);
    text-decoration: none;
    border-left: 1px solid var(--accent);
    padding-left: 5px;
    letter-spacing: 1px;
    flex-shrink: 1;
}
.nav-item:hover{
    border-left-width: 2px;
    padding-left: 4px;
}
#landing{
    height: calc(100vh - 45px - 20px);
    width: 100%;
    background-color: var(--background);
    background: radial-gradient(circle, var(--background-dark) 40vh, var(--background) 40px);
    position: relative;
}
#cut-out{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 70vh / 2);
    height: 70vh;
    filter: contrast(1.05);
    -webkit-filter: contrast(1.05);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#landing-left{
    position: absolute;
    top: -50px;
    left: 100px;
    height: 100%;
    font-size: 15px;
    padding-top: 150px;
}
#landing-left div{
    max-width: 50%;
}
#landing-name{
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#landing-name span{
    color: var(--accent-darker);
}
#landing-left hr{
    border-color: var(--accent-darker);
    width: 120px;
    border-style: solid;
    border-width: 2px;
    margin: 15px 0px 10px 15px;
}
#landing-contacts{
    color: var(--accent);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
#landing-contacts :any-link{
    color: var(--gray-text);
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
#landing-contacts :any-link:hover{
    color: var(--accent);
}
#landing-more-contacts{
    border: 3px solid var(--accent-darker);
    color: var(--accent);
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 2px;
}

#landing-right{
    position: absolute;
    top: -70px;
    left: calc(50% + 200px);
    height: 100%;
    padding-top: 150px;
    max-width: 360px;
}
#landing-introduction{
    color: var(--accent-darker);
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 18px;
    padding-left: 10px;
}
#landing-paragraph-title{
    font-size: 25px;
    margin-bottom: 5px;
}
#landing-paragraph-title span{
    color: var(--accent);
}
#landing-paragraph{
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    color: var(--gray-text);
    margin-bottom: 10px;
}
#landing-paragraph a:any-link{
    color: var(--white-text);
    font-variant: small-caps;
    font-size: 18px;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
#landing-paragraph a:any-link:hover{
    color: var(--accent);
}
#landing-learn-more{
    border: 3px solid var(--accent-darker);
    color: var(--accent);
    width: 120px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 3px;
}
#landing-scroller{
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: var(--accent);
    text-decoration: none;
}
#landing-scroller:hover{
    text-decoration: underline;
}

#cards-page{
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 50px;
}
.cards-title{
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 5px;
    color: var(--accent-darker);
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 3px;
}
.card-collection-description{
    color: var(--gray-text);
    text-align: center;
    margin: 10px;
    margin-top: 0px;
}
.cards-collection{
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.card{
    height: 230px;
    width: auto;
    min-width: 150px;
    max-width: 230px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--background);
}
.card-image{
    height: 100px;
    width: 100px;
    margin: 20px auto 10px auto;
    display: block;
}
.card-title{
    font-size: 18px;
    color: var(--accent-darker);
    margin-bottom: 5px;
    text-align: center;
}
.card-description{
    font-size: 12px;
    color: var(--gray-text);
    text-align: center;
    /* i could eliminate the use of <br> breaks
    by limiting the max-width to 90% or something    
    */
}
.card-description a:any-link{
    color: var(--gray-text);
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
.card-description a:any-link:hover{
    color: var(--accent);
}

#latest-projects{
    background-color: var(--background);
    padding: 35px 20px 45px 20px;
    max-width: 100vw;
}
#latest-projects-title{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--accent-darker);
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 3px;
}
#latest-projects-description{
    color: var(--gray-text);
    text-align: center;
    margin-bottom: 10px;
}
#latest-projects-collection{
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    width: auto;
    max-width: calc(100vw - 20px);
}
.project-large {
    grid-row: 1 / 4;
}
.project-large, .project-small{
    background: var(--background-dark);
    margin: 0px 20px 15px 0px;
    overflow: hidden;
    position: relative;
}
.project-image{
    filter: grayscale(0.7);
    -webkit-filter: grayscale(0.7);
    transition: 0.2s filter ease-in-out;
    -webkit-transition: 0.2s filter ease-in-out;
    -moz-transition: 0.2s filter ease-in-out;
    -ms-transition: 0.2s filter ease-in-out;
    -o-transition: 0.2s filter ease-in-out;
}
.project-image:hover{
    filter: grayscale(0.2);
    -webkit-filter: grayscale(0.2);
}
.project-large img{
    max-width: 100%;
}
.project-small{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 150px 1fr;
}
.project-small .project-image{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    overflow: hidden;
}
.project-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.date{
    background-color: var(--accent-darker);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 10px;
    font-size: 13px;
}
.project-title{
    font-size: 15px;
    color: var(--accent-darker);
    text-align: center;
    padding-top: 15px;
}
.project-description{
    font-size: 12px;
    color: var(--gray-text);
    text-align: left;
    padding: 7px;
    line-height: 14px;
    overflow-y: auto;
}
.project-description a img{
    width: 12px;
    height: 12px;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
}
.project-description a:any-link{
    color: var(--gray-text);
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
.project-description a:any-link:hover{
    color: var(--accent);
}

#contacts-page{
    padding: 10px;
}
#contacts-title{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--accent-darker);
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 3px;
}
#contacts-description{
    color: var(--gray-text);
    text-align: center;
    margin-bottom: 20px;
}
#contacts-collection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 250px;
}
.contact{
    background-color: var(--background);
    width: 180px;
    height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
.contact:any-link{
    text-decoration: none;
    color: var(--white-text)
}
.contact:hover{
    color: var(--accent);
}
.contact span{
    color: var(--accent-darker);
    font-size: 40px;
    transform: translate(-2px, -11px);
    -webkit-transform: translate(-2px, -11px);
    -moz-transform: translate(-2px, -11px);
    -ms-transform: translate(-2px, -11px);
    -o-transform: translate(-2px, -11px);
    user-select: none;
}
.contact img{
    margin-left: auto;
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
}

#footer{
    background-color: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
}
#footer div a:any-link{
    color: var(--white-text);
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
}
#footer div a:hover{
    color: var(--accent-darker)
}



@media (max-width: 1050px), (orientation: portrait) {
    #latest-projects-collection{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 150px);
    }
    .project-small, .project-large{
        margin: 5px 0px;
    }
    .project-large{
        grid-row: auto;
    }
    .project-large{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 150px 1fr;
    }
    .project-large .project-image{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        overflow: hidden;
    }
    .project-large img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
